* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
    width: 100%;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-item:hover {
    cursor: pointer;
}

.grid-item {
    padding: 10px 15px;
    margin: 10px !important;
    float: left;
    width: 220px;
    font-weight: lighter;
    font-size: 18pt;
}

.material-icons {
    color: #373631;
}

.grid-item-bar {
    visibility: hidden;
    font-size: 2pt;
}

.grid-item:hover .grid-item-bar {
    visibility: visible;
}

.grid-item-title {
    font-size: 12pt;
}

.label-flag {
    font-size: 10pt;
    float: right;
    margin: 2px;
    padding: 2px;
    background: rgba(54, 25, 25, .15);
}

button {
    font-size: 20px;
}

nav .brand-logo {
    padding-left: 16px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }