@(data: Seq[TaskWithLabelsWrapper])(implicit request: RequestHeader)

@import helper._

@main("TODO List") {

    <div id="add-task-modal" class="modal black-text">
        <div class="modal-content">
            <div class="card-content">
                <form id="task-data-form" role="form" action='@routes.ApplicationController.addTask()' method="post" class="col s12">
                    <div class="row">
                        <div class="col s4">
                            <h5>Create new task</h5>
                        </div>
                        <div class="input-field col s5">
                            <input id="title-new-task" placeholder="Title" name="title" type="text" class="validate">
                            <label for="title-new-task">Title</label>
                        </div>
                        <div class="col s3 right">
                            <button class=" modal-action modal-close btn waves-effect waves-light pink" type="submit" name="action">
                                Create
                                <i class="material-icons right md-light">send</i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <input hidden name="id" value="0"/>
                        <div class="row">
                            <div class="input-field col s9">
                                <br>
                                <textarea id="content-new-task" name="content" class="validate materialize-textarea" required></textarea>
                                <label for="content-new-task">Content</label>
                            </div>
                            <div class="col s3">
                                <div id="labels-add" class="input-field"></div>
                                <br>
                                <a href="#add-label-modal" class="modal-trigger">Create new label</a>
                            </div>
                        </div>
                    </div>
                    @Color.values.map { i =>
                        <input name="color" type="radio" class="color-changer" id="color-add-task-@i.toString" @if(i == Color.YELLOW) {
                            checked="checked"
                        } value="@i.toString"/>
                        <label for="color-add-task-@i.toString">@i.toString</label>
                      &nbsp; &nbsp; &nbsp; &nbsp;
                    }
                </form>
            </div>
        </div>
    </div>


    <div id="update-task-modal" class="modal">
        <div class="modal-content">
            <div class="card-content">
                <form id="task-data-form-update" role="form" action='@routes.ApplicationController.updateTask()' method="put" class="col s12">
                    <div class="row">
                        <div class="col s4">
                            <h5>Update task</h5>
                        </div>
                        <div class="input-field col s5">
                            <input id="title-update" placeholder="Title" name="title" type="text" class="validate">
                            <label for="title-update">Title</label>
                        </div>
                        <div class="col s3 right">
                            <button class=" modal-action modal-close btn waves-effect waves-light pink" type="submit" name="action">
                                Update
                                <i class="material-icons right md-light">done</i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <input hidden id="updated-id" name="id" value=""/>
                        <div class="row">
                            <div class="input-field col s9">
                                <br>
                                <textarea id="content-update" name="content" class="validate materialize-textarea" required></textarea>
                                <label for="content-update">Content</label>
                            </div>
                            <div class="col s3">
                                <div id="labels-update" class="input-field"></div>
                                <br>
                                <a href="#add-label-modal" class="modal-trigger">Create new label</a>
                            </div>
                        </div>
                    </div>
                    @Color.values.map { i =>
                        <input name="color" type="radio" class="color-changer" id="color_@i.toString" value="@i.toString"/>
                        <label for="color_@i.toString">@i.toString</label>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                    }
                </form>
            </div>
        </div>
    </div>

    <div id="add-label-modal" class="modal">
        <div class="modal-content">
            <div class="card-content">
                <form id="label-data-form" role="form" action='@routes.ApplicationController.addLabel()' method="post" class="col s12">
                    <div class="row">
                        <input hidden name="id" value="0"/>
                        <div class="col s4">
                            <h5>Create new label</h5>
                        </div>
                        <div class="input-field col s5">
                            <input id="title-new-label" placeholder="Title" name="title" type="text" class="validate">
                            <label for="title-new-label">Title</label>
                        </div>
                        <div class="col s3 right">
                            <button class="modal-action modal-close btn waves-effect waves-light pink" type="submit" name="action">
                                Create
                                <i class="material-icons right md-light">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="show-label-modal" class="modal" style="width: 200px;">
        <div class="modal-content">
            <div class="card-content">
                <h5>Update label</h5>
                <div id="labels"></div>
                <br>
                <a href="#add-label-modal" class="modal-trigger">Create new label</a>
            </div>
        </div>
    </div>

    <div id="update-label-modal" class="modal">
        <div class="modal-content">
            <div class="card-content">
                <form id="label-data-form-update" role="form" action='@routes.ApplicationController.updateLabel()' method="put" class="col s14">
                    <div class="row">
                        <input hidden id="updated-label-id" name="id" value=""/>
                        <div class="col s4">
                            <h5>Update label</h5>
                        </div>
                        <div class="input-field col s5">
                            <input id="title-label-update" placeholder="Title" name="title" type="text" class="validate">
                            <label for="title-label-update">Title</label>
                        </div>
                        <div class="col s3 right">
                            <button class=" modal-action modal-close btn waves-effect waves-light pink" type="submit" name="action">
                                Update
                                <i class="material-icons right md-light">done</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div id="grid" class="grid">
    @data.map { case TaskWithLabelsWrapper(task, labels) =>
    <div data-id="@task.id" class="card hoverable grid-item @task.color lighten-3">
        <b class="grid-item-title">@task.title</b> <br>
        @Html(task.content)
        <br>
        @labels.map { label =>
            <div data-id="@label.id" class="label-flag">@label.title</div>
        }
        <div class="grid-item-bar">
            <a href="#!" data-id="@task.id" class="delete"><i class="material-icons">delete</i></a>
    </div>
    </div>
    }
    </div>

    <div class="fixed-action-btn" style="bottom: 105px;
        right: 40px;">
        <a href="#add-task-modal" class="btn-floating btn-large pink modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Add note">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a href="#add-label-modal" class="btn-floating green modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Add label"><i class="material-icons">
                label</i></a></li>
            <li><a href="#show-label-modal" class="btn-floating blue modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Edit labels"><i class="material-icons">
                mode_edit</i></a></li>
        </ul>
    </div>

}
